body {
  background-color: #f8f9fa;
}

.pokedex-container {
  background-color: #ff0000;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  overflow: hidden;
}

.pokemon-list {
  background-color: #ffffff;
  height: 500px;
  overflow-y: auto;
}

.modal-container {
  background-color: #ffffff;
  padding: 20px;
  border-left: 5px solid #ff0000;
}

.my-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #007bff; /* Changed color to Bootstrap's primary blue */
  color: white;
  border: 2px solid #007bff;
}

.my-button:hover {
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
}
